name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    
    - name: Setup
      run: |
        curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh -s -- -f
        curl -o- -L https://yarnpkg.com/install.sh | bash -s
        rustup component add clippy
        rustup component add rustfmt
        
    - name: Install
      run: |
        yarn --frozen-lockfile
        yarn audit
        
    - name: Lint/Check
      run: |
        yarn lint
        cargo fmt --all -- --check
        cargo check
        cargo clippy --all-targets --all-features -- -D warnings
        
    - name: Test
      run: yarn test
        
    - name: Build
      run: yarn build
      
    - name: Deploy
      run: |
        yarn global add netlify-cli
        netlify deploy -s $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN -p --dir ./dist
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_ACCESS_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
        PATH: $HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH
